.create-new-tribe {
    font-size: 1000%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 150px;
    height: 300px;
    text-decoration: none;
}
.tribe {
    width: 190px;
    height: 300px;
    font-size: 28px;
}
.tribeArt {
    width: 180px;
    height: 270px;
}
.tribe:hover {
    box-shadow: 1px 0px 10px orange;
}
.tribe-wrapper {
    display: flex;
    flex-direction: row;
}
.edit {
    margin-top: -20px;
    z-index: 10;
}
@font-face {
    font-family: 'Heavyweight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heavyweight Regular'), url('../../../public/font/HEAVYWEI.woff') format('woff');
}
body {
    font-family: 'Heavyweight Regular';
}
