

.create-new-card {
    font-size: 1000%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 190px;
    height: 300px;
    text-decoration: none;
    background-color: rgba(80,80,80,1);
    margin-left: 5px;
}
.create-new-card:hover {
    box-shadow: 0px 0px 10px rgb(255,156,0);
}
.card {
    width: 190px;
    height: 300px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.card:hover {
    box-shadow: 0px 0px 10px rgb(255,156,0);
    margin-top: -10px;
    transition: .25s linear;
}
.cardArt {
    width: 190px;
    height: 300px;
}
a {
    margin-top: 0px;
}
.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.edit {
    margin-top: -20px;
    z-index: 10;
}
body {
    background-image: url('https://i.imgur.com/voixxYw.jpg');
}
#searchComponentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.Cards-Container {
    margin-top: 50px;
}
#cardsRoute {
    margin-left: 10%;
    margin-right: 10%;
}
