.new-tribe-form {
    background-color: rgb(200, 201, 165);
    border: 5px solid #333;
    border-radius: 5px;;
}
.submitTribe {
    width: 200px;
    color: black;
}
#tribe-detail-ul {
    width: 190px;
}
#tribe-li {
    width: 190px;
    text-align: center;
}
#tribe-detail-wrapper {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
}
.tribe-details {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}
.edit-tribe-form {
    border: 5px solid #333;
    border-radius: 5px;
}
.edit-tribe-form > input {
    background-color: rgb(200, 201, 165);
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0px;
    height: 25px;
    width: 300px;
    font-family: 'Heavyweight Regular';
    margin: auto;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.edit-tribe-form > input:focus {
    outline: none;

}
.new-tribe-form > select {
    background-color: rgb(200, 201, 165);
    border-radius: 5px;
    border: 1px solid black;
}
.tribe-details {
    background-color:rgb(200, 201, 165);
    border: 5px solid rgb(44, 44, 44);
    border-radius: 5px;
    height: 400px;
}
.delete {
    width: 200px;
}
.reveal {
    width: 200px;
}
.edit-tribe {
    background-color:orangered;
    width: 150px;
    margin: 5px;
}
.form {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
}
.edit-tribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#submitTribeEdit {
    width: 100px;
    height: 35px;
    margin: 7px;
}
#submitTribeEdit:hover {
    box-shadow: 0px 0px 5px orangered;
}
.errors {
    color: red;
    font-size: 25px;
    background-color: none;
    padding: 5px;
    background-color: none;
}
#errors-container {
    height: 100px;
}
.errors > li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    text-align: center;
}
#edit-tribe-button-container {
    display: flex;
    justify-content: center;
}
#form-bg-div {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-tribe-form-container {
    width: 50%;
}
