#cardDetailsWrapper {
    margin-left: 20%;
    margin-right: 20%;
}
.card-details {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 300px;
}
#detailImg {
    height: 280px;
    width: 190px;
}
#details-container {
    height: 280px;
}
#detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delete:hover {
    box-shadow: 0px 0px 10px red;
    background-color: red;
    color: white;
}
#card-name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
}
#card-cost {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 5px;
    height: 25px;
    top: -25px;
}
.card-tiny-details {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
}
#description {
    height: 106px;
}
/* ------------------ */
/* Form Modal Styling */
/* ------------------ */
#edit-card-form {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgb(200, 201, 165);
    border: 1px solid rgb(255,156,0);
    border-radius: 25px;
    height: 450px;
    width: 40%;
}
.submitCard {
    width: 200px;
    color: black;
}
.modify-field > input {
    background-color: rgb(200, 201, 165);
    border-radius: 5px;
    border: 1px solid black;
    height: 25px;
    width: 100%;
    font-family: 'Heavyweight Regular';
    text-align: center;
}
.modify-field > select {
    background-color: rgb(200, 201, 165);
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    height: 25px;
    width: 100%;
}
.submit {
    width: 150px;
}
.submit:disabled {
    box-shadow: 0px 0px 0px;
    cursor: default
}
.modify-field {
    padding: 4px;
}
