body {
    background-image: url('../../../public/img/door_dark.jpg');
    font-family: 'Heavyweight Regular';
}
.content-wrapper {
    border: none;
}
.root {
    border: none;
}
div {
    background-color: none;
    border: none;
}
.welcome {
    color: rgb(255,106,0);
    text-align: center;
    font-size: 80px;
    border: none;
}
.Inscryptr {
    height: 300px;
    border: none;
}
.Inscryptr > h1 {
    color: rgb(255,106,0);
    font-size: 180px;
    text-align: center;
}
.banner {
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: 'Heavyweight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heavyweight Regular'), url('../../../public/font/HEAVYWEI.woff') format('woff');
}
