div {
    border: none;
}
#nav-container {
    background-color: rgba(30,30,30,0.7);
    font-size: 35px;
    padding-top: 5px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: rgb(255,106,0);
}
a:hover {
    text-shadow: 0px 0px 10px rgb(255,106,0);
    transition: .5s linear;
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
button {
    background-color: rgb(255,106,0);
    border-radius: 30px;
    font-family: 'Heavyweight Regular';
    height: 54px;
    width: 54px;
    margin-top: 0px;
    font-size: 20px;
}
button:hover {
    box-shadow: 0px 0px 5px orange;
    cursor: pointer;
}
#profile-dropdown {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: absolute;
    left: 34%;
    top: 50px;
    border: 1px solid black;
    background-color: #151515;
    border-radius: 20px;
    padding-left: 0px;
    height: 130px;
    width: 200px;
}
#profile-dropdown > li {
    padding-bottom: 10px;
}
.logout {
    width: 150px;
}
i {
    height: 2px;
}
#profile-button {
    height: 40px;
    width: 40px;
}
#nav-container {
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}
body {
    margin: 0px;
}
